#group-data > h2 {
    font-size: xx-large;
    text-shadow: -2px 2px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000;
    text-align: center;
}

#group-data > p {
    text-align: center;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000;
}

#group-data > ul {
    list-style: none;
}

#group-data > ul > li {
    text-align: center;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000;
}