#user-data > * {
    text-align: center;
}

#user-data h2 {
    font-size: x-large;
    text-shadow: -1px 1px 0 #000, 
                1px 1px 0 #000, 
            1px -1px 0 #000, 
            -1px -1px 0 #000;
}